#maximal read length
max_rd_len=202

#average insert size
avg_ins=200

#if sequence needs to be reversed
reverse_seq=0

#in which part(s) the reads are used
asm_flags=3

#use only first 100 bps of each read
#rd_len_cutoff=100
#in which order the reads are used while scaffolding
rank=1

# cutoff of pair number for a reliable connection (at least 3 for short insert size)
pair_num_cutoff=3

#minimum aligned length to contigs for a reliable read location (at least 32 for short insert size)
map_len=32
q=/var/said/Cannabis/SRR351492.fastq
q=/var/said/Cannabis/SRR351493.fastq
q=/var/said/Cannabis/SRR351927.fastq
q=/var/said/Cannabis/SRR351928.fastq


p=/var/said/Cannabis/SRR351494.fastq
avg_ins=200

p=/var/said/Cannabis/SRR351496.fastq
avg_ins=400


p=/var/said/Cannabis/SRR351929.fastq
avg_ins=200


p=/var/said/Cannabis/SRR351930.fastq
avg_ins=400

p=/var/said/Cannabis/SRR352146.fastq
avg_ins=181

p=/var/said/Cannabis/SRR352147.fastq
avg_ins=195

p=/var/said/Cannabis/SRR352148.fastq
avg_ins=313

p=/var/said/Cannabis/SRR352149.fastq
avg_ins=362

p=/var/said/Cannabis/SRR352150.fastq
avg_ins=1926

p=/var/said/Cannabis/SRR352151.fastq
avg_ins=1846

p=/var/said/Cannabis/SRR352153.fastq
avg_ins=1850

p=/var/said/Cannabis/SRR352155.fastq
avg_ins=1787

p=/var/said/Cannabis/SRR352156.fastq
avg_ins=4721

p=/var/said/Cannabis/SRR352158.fastq
avg_ins=4585

p=/var/said/Cannabis/SRR352159.fastq
avg_ins=4585

p=/var/said/Cannabis/SRR352160.fastq
avg_ins=362

p=/var/said/Cannabis/SRR352161.fastq
avg_ins=664

p=/var/said/Cannabis/SRR352162.fastq
avg_ins=0

p=/var/said/Cannabis/SRR352163.fastq
avg_ins=181

p=/var/said/Cannabis/SRR352164.fastq
avg_ins=181

p=/var/said/Cannabis/SRR352165.fastq
avg_ins=0

p=/var/said/Cannabis/SRR352166.fastq
avg_ins=195

p=/var/said/Cannabis/SRR352167.fastq
avg_ins=313

p=/var/said/Cannabis/SRR352168.fastq
avg_ins=313

p=/var/said/Cannabis/SRR352169.fastq
avg_ins=362
