java -jar /mnt/c/tools/Trimmomatic-0.35/trimmomatic-0.35.jar PE -thread 30 SRR352146_1.fastq SRR352146_2.fastq SRR352146_1.paired.fastq SRR352146_1.unpaired.fastq  SRR352146_2.paired.fastq SRR352146_2.unpaired.fastq SLIDINGWINDOW:4:15


SRR352147_1.fastq SRR352147_2.fastq
SRR352148_1.fastq SRR352148_2.fastq
SRR352149_1.fastq SRR352149_2.fastq
SRR352150_1.fastq SRR352150_2.fastq
SRR352151_1.fastq SRR352151_2.fastq
SRR352153_1.fastq SRR352153_2.fastq
SRR352155_1.fastq SRR352155_2.fastq
SRR352156_1.fastq SRR352156_2.fastq
SRR352158_1.fastq SRR352158_2.fastq
SRR352159_1.fastq SRR352159_2.fastq
SRR352160_1.fastq SRR352160_2.fastq
SRR352161_1.fastq SRR352161_2.fastq
SRR352162_1.fastq SRR352162_2.fastq
SRR352163_1.fastq SRR352163_2.fastq
SRR352164_1.fastq SRR352164_2.fastq
SRR352165_1.fastq SRR352165_2.fastq
SRR352166_1.fastq SRR352166_2.fastq
SRR352167_1.fastq SRR352167_2.fastq
SRR352168_1.fastq SRR352168_2.fastq
SRR352169_1.fastq SRR352169_2.fastq


kill 22521
22612
22647

project=Cannabis
job=denovo,genome,accurate

parameters =  COMMON_SETTINGS -GENERAL:number_of_threads=32 -AS:nop=3  SOLEXA_SETTINGS -AL:mrs=90 -AS:mrl=75

readgroup=SRR352169
data=SRR352169_*  
template_size=300 -1 autorefine
segment_placement = ---> <---
technology = solexa

readgroup=SRR352151
data=SRR352151_*  
template_size= 1000 -1 autorefine
segment_placement = <--- --->
technology = solexa

readgroup=SRR352164
data=SRR352164_*  
template_size= 100 -1 autorefine
segment_placement = ---> <---
technology = solexa

readgroup=SRR352153
data=SRR352153_*  
template_size= 1000 -1 autorefine
segment_placement = <--- --->
technology = solexa

readgroup=SRR352150
data=SRR352150_*  
template_size= 300 -1 autorefine
segment_placement = ---> <---
technology = solexa

readgroup=SRR352167
data=SRR352167_*  
template_size= 100 -1 autorefine
segment_placement = ---> <---
technology = solexa

readgroup=SRR352159
data=SRR352159_*  
template_size= 4000 -1 autorefine
segment_placement = <--- --->
technology = solexa

readgroup=SRR352147
data=SRR352147_*  
template_size= 100 -1 autorefine
segment_placement = ---> <---
technology = solexa

readgroup=SRR352149
data=SRR352149_*  
template_size= 300 -1 autorefine
segment_placement = ---> <---
technology = solexa

readgroup=SRR352155
data=SRR352155_*  
template_size= 1000 -1 autorefine
segment_placement = <--- --->
technology = solexa

readgroup=SRR352163
data=SRR352163_*  
template_size= 0 -1 autorefine
segment_placement = <--- --->
technology = solexa

readgroup=SRR352166
data=SRR352166_*  
template_size= 0 -1 autorefine
segment_placement = <--- --->
technology = solexa

readgroup=SRR352160
data=SRR352160_*  
template_size= 4000 -1 autorefine
segment_placement = <--- --->
technology = solexa

readgroup=SRR352146
data=SRR352146_*  
template_size= 100 -1 autorefine
segment_placement = ---> <---
technology = solexa

readgroup=SRR352165
data=SRR352165_*  
template_size= 100 -1 autorefine
segment_placement = ---> <---
technology = solexa

readgroup=SRR352158
data=SRR352158_*  
template_size= 4000 -1 autorefine
segment_placement = <--- --->
technology = solexa

readgroup=SRR352148
data=SRR352148_*  
template_size= 300 -1 autorefine
segment_placement = ---> <---
technology = solexa

readgroup=SRR352156
data=SRR352156_*  
template_size= 1000 -1 autorefine
segment_placement = <--- --->
technology = solexa

readgroup=SRR352161
data=SRR352161_*  
template_size=300 -1 autorefine
segment_placement = ---> <---
technology = solexa

readgroup=SRR352168
data=SRR352168_*  
template_size=300 -1 autorefine
segment_placement = ---> <---
technology = solexa

readgroup=SRR352162
data=SRR352162_*  
template_size=600 -1 autorefine
segment_placement = ---> <---
technology = solexa
