<<include etc/colors_fonts_patterns.conf>>

<<include ideogram.conf>>
#<<include ticks.conf>>

<image>
<<include etc/image.conf>>
radius*=2000p
</image>

karyotype=karyotype/data.txt
chromosomes_units=1
chromosomes=data1

track_width = 0.1
track_pad   = 0.01
trackart = 0.99

<plots>

<plot>
r0 = 1.02r
r1 = 1.2r
type=text
file=karyotype/data2.txt
color      = black
label_font = default
label_size = 24p

</plot>

type=heatmap
color=rdbu-11-div
max=1
min=-1

<plot>
<<include r0r1.conf>>
file=heatmap/comparacion1.1.txt	
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/comparacion2.1.txt	
</plot>




<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/GCSF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/GCSF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/GCSF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/GCSF.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/GM.CSF.txt
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/GM.CSF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/GM.CSF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/GM.CSF.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/GRO.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/GRO.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/GRO.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/GRO.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/GRO.a.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/GRO.a.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/GRO.a.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/GRO.a.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IFN.g.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IFN.g.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IFN.g.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IFN.g.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>



<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IGF.1.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IGF.1.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IGF.1.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IGF.1.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IL.10.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IL.10.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IL.10.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IL.10.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IL.13.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IL.13.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IL.13.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IL.13.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IL.15.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IL.15.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IL.15.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IL.15.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IL.1a.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IL.1a.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IL.1a.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IL.1a.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IL.3.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IL.3.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IL.3.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IL.3.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IL.5.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IL.5.txt	
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IL.5.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IL.5.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IL.6.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IL.6.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IL.6.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IL.6.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IL.7.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IL.7.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IL.7.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IL.7.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/Leptin.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/Leptin.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/Leptin.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/Leptin.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/MCP.1.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/MCP.1.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/MCP.1.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/MCP.1.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/MCP.3.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/MCP.3.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/MCP.3.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/MCP.3.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/MIG.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/MIG.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/MIG.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/MIG.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/SCF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/SCF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/SCF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/SCF.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/TGF.B1.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/TGF.B1.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/TGF.B1.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/TGF.B1.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/TNF.a.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/TNF.a.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/TNF.a.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/TNF.a.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/TNF.b.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/TNF.b.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/TNF.b.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/TNF.b.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


#Cluster2	#Cluster2	#Cluster2	#Cluster2
<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/EGF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/EGF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/EGF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/EGF.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/ENA.78.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/ENA.78.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/ENA.78.txt	
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/ENA.78.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/I.309.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/I.309.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/I.309.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/I.309.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IL.12.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IL.12.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IL.12.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IL.12.txt
</plot>


<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IL.12.1.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IL.12.1.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IL.12.1.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IL.12.1.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IL.1b.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IL.1b.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IL.1b.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IL.1b.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IL.2.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IL.2.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IL.2.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IL.2.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IL.4.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IL.4.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IL.4.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IL.4.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/MCP.2.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/MCP.2.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/MCP.2.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/MCP.2.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/MCSF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/MCSF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/MCSF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/MCSF.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/MDC.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/MDC.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/MDC.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/MDC.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/MIP.1d.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/MIP.1d.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/MIP.1d.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/MIP.1d.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/Oncostatin_M.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/Oncostatin_M.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/Oncostatin_M.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/Oncostatin_M.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/PDGF_BB.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/PDGF_BB.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/PDGF_BB.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/PDGF_BB.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/RANTES.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/RANTES.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/RANTES.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/RANTES.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/SDF.1.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/SDF.1.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/SDF.1.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/SDF.1.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/TARC.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/TARC.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/TARC.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/TARC.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/Thrombopoietin.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/Thrombopoietin.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/Thrombopoietin.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/Thrombopoietin.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/VEGF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/VEGF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/VEGF.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/VEGF.txt
</plot>

<plot>
<<include r0r1.conf>>
color=white
file=karyotype/space.txt
</plot>


#Cluster3	#Cluster3	#Cluster3	#Cluster3
<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRTCRmCD28/IL.8.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD28mTCRCD28pTCR/IL.8.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD43mTCRCD43pTCR/IL.8.txt	
</plot>

<plot>
<<include r0r1.conf>>
file=heatmap/CD34mTCRTCRmCD43/IL.8.txt
</plot>


</plots>

<<include etc/housekeeping.conf>>



